#our-story-section {
  .our-story-title-container {
    .separator {
      &::after {
        content: "\25CF\25CF\25CF\25CF\25CF\25CF";
        @apply text-white/50 text-[8px] inline-block w-[60px] tracking-[4px];
      }
    }

    &:before {
      content: "";
      @apply block absolute w-14 h-14 -left-16 -top-16  border-l border-t border-dotted border-primary;
    }
  }

  .our-story-link {
    &:hover {
      span {
        animation: rotateX 500ms ease-in-out;
      }
    }
  }

  .our-story-main-image-container {
    .our-story-main-image {
      box-shadow: 0 9px 16px rgba(0, 0, 0, 0.35);
    }

    &:before {
      content: "";
      @apply block absolute w-4/5 xl:w-[65%] left-[10%] xl:left-1/4 h-36 -bottom-10 bg-gray-system-3 border border-dotted border-primary;
    }
  }

  .our-story-secondary-image {
    height: calc(110% - 192px);
    top: 3%;
  }

  @keyframes rotateX {
    0% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateX(360deg);
    }
  }
}
