.home-section-overlay {
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: repeat;
  background-origin: content-box;
  background-image: url("../../assets/hero-overlay.webp");
  z-index: -5;
}
